<div class="row">
    <div class="col-md-12">
        <div class="cp-wizard-wrapper">
            <wizard class="cp-wizard-top" [navBarLayout]="'large-filled-symbols'">
                <div class="col-sm-10 col-md-10 cp-wizard-inner">
                    <wizard-step navigationSymbol="1">
                        <div class="panel panel-default text-left cp-panel-full">
                            <div class="panel-heading">Account Type</div>
                            <div class="panel-body">
                                <div class="form-group cp-separator">
                                    <h4 class="cp-static-label">
                                        Let's start with the basic information
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                                            <h4 class="cp-static-label clearfix cp-bold"> Are you a? </h4>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 col-sm-12">
                                            <div class="row justify-content-center">
                                                <div class="col-md-4 col-sm-6 text-center" *ngFor="let account of accounts">
                                                    <label (click)="onAccountSelect(account)">
                                                        <div class="choice" data-toggle="wizard-radio" [class.active]="activeAccount == account">
                                                            <input type="radio" name="{{account.fieldName}}" [value]="account.value" [(ngModel)]="accountType" required>
                                                            <div class="icon">
                                                                <i class="fa cp-account-icon" [ngClass]="account.classNames" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </label>
                                                    <div class="cp-wiz-tooltip">
                                                        <h6>{{account.title}}</h6>
                                                        <i class="fa fa-info-circle" aria-hidden="true" placement="top" ngbTooltip="Tooltip on top"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group" *ngIf="accountType == 'CS'" class="alert alert-info">
                                    <p>Care Seeker - Your family's well-being is your top priority. That's why we offer tools and resources to help you evaluate risk and stay savvy about safety.</p>
                                </div>
                                <div class="form-group" *ngIf="accountType == 'CP'" class="alert alert-info">
                                    <p>Care Provider - Your family's well-being is your top priority. That's why we offer tools and resources to help you evaluate risk and stay savvy about safety.</p>
                                </div>-->
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2">
                                        <div class="cp-btn-circle-wrapper">
                                            <a md-fab routerLink="." nextStep class="cp-btn-circle-default pull-right">
                                                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </wizard-step>
                    <wizard-step navigationSymbol="2">
                        <div class="panel panel-default text-left cp-panel-full">
                            <div class="panel-heading">Personal Information</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row justify-content-center">
                                        <div class="col-md-4 col sm-4 col lg-4 text-center">
                                            <div class="cp-wiz-image-wrapper">
                                                <div class="cp-wiz-image">
                                                    <img [src]="(imagePath) ? imagePath : '//placehold.it/200'" class="rounded-circle" height="200" width="200" />
                                                </div>
                                                <div class="cp-wiz-upload">
                                                    <a md-mini-fab (click)="fileInput?.click()">
                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                        <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                                                    </a>
                                                    <a md-mini-fab (click)="imagePath = ''; fileInput.value = ''" *ngIf="imagePath" class="cp-btn-red">
                                                        <i class="fa fa-close" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container class="example-full-width md-block">
                                                <input mdInput placeholder="First Name">
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <md-input-container class="example-full-width md-block">
                                                <input mdInput placeholder="Last Name">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container>
                                                <input mdInput [mdDatepicker]="picker" placeholder="Date Of Birth">
                                                <button mdSuffix [mdDatepickerToggle]="picker"></button>
                                            </md-input-container>
                                            <md-datepicker #picker></md-datepicker>
                                        </div>
                                        <div class="col-md-6">
                                            <md-select placeholder="Gender">
                                                <md-option *ngFor="let state of states" [value]="state">{{ state }}</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container class="example-full-width">
                                                <input mdInput placeholder="Address">
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <md-input-container class="example-full-width">
                                                <input mdInput placeholder="Address 2">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <md-input-container class="example-full-width">
                                                <input mdInput placeholder="City">
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-4">
                                            <md-select placeholder="State">
                                                <md-option *ngFor="let state of states" [value]="state">{{ state }}</md-option>
                                            </md-select>
                                        </div>
                                        <div class="col-md-4">
                                            <md-input-container class="example-full-width">
                                                <input mdInput #postalCode maxlength="5" placeholder="Zip Code">
                                                <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row justify-content-between">
                                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                        <div class="cp-btn-circle-wrapper">
                                            <a md-fab routerLink="." previousStep class="cp-btn-circle-default pull-left">
                                                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                        <div class="cp-btn-circle-wrapper">
                                            <a md-fab routerLink="." nextStep class="cp-btn-circle-default pull-right">
                                                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </wizard-step>
                    <wizard-step navigationSymbol="3">
                        <div class="panel panel-default text-left cp-panel-full">
                            <div class="panel-heading">Payment Setup</div>
                            <div class="panel-body"></div>
                            <div class="panel-footer">
                                <div class="row justify-content-between">
                                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                        <div class="cp-btn-circle-wrapper">
                                            <a md-fab routerLink="." previousStep class="cp-btn-circle-default pull-left">
                                                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                        <div class="cp-btn-circle-wrapper">
                                            <a md-fab routerLink="." nextStep class="cp-btn-circle-default pull-right">
                                                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </wizard-step>
                    <wizard-step navigationSymbol="4">
                        <div class="panel panel-default text-left cp-panel-full">
                            <div class="panel-heading">Done</div>
                            <div class="panel-body"></div>
                            <div class="panel-footer">
                                <div class="row justify-content-between">
                                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                        <div class="cp-btn-circle-wrapper">
                                            <a md-fab routerLink="." previousStep class="cp-btn-circle-default pull-left">
                                                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                                        <div class="cp-btn-circle-wrapper">
                                            <a md-fab routerLink="." nextStep class="cp-btn-circle-default pull-right">
                                                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </wizard-step>

                    <!--<wizard-step navigationSymbol="2">-->
                    <!--Content of Step 3
                        <button type="button" previousStep>Previous Step</button>
                        <button type="button" (click)="finishFunction()">Finish</button>-->
                    <!--</wizard-step>-->
                </div>
            </wizard>
        </div>
    </div>
</div>