body {
  background: rgba(221, 221, 221, 0.34) !important;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.cp-wizard-inner {
  float: none;
  margin: 0 auto;
}

.cp-panel-full {
  //min-height: 500px;
  max-height: auto;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  .panel-heading {
    padding: 25px 15px;
  }
  .panel-body {
    padding-bottom: 25px;
  }
  .panel-footer {
    overflow: hidden;
  }
}

.choice input[type="radio"], .choice input[type="checkbox"] {
  position: absolute;
  left: -10000px;
  z-index: -1;
}

.choice, .choice .icon {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.choice .icon {
  height: 116px;
  width: 116px;
  border-radius: 50%;
  color: #000;
  margin: 0 auto 20px;
  border: 6px solid #CCCCCC;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.choice:hover .cp-account-icon, .choice.active .icon {
  color: rgb(20, 144, 97);
  border-color: rgb(20, 144, 97);
}

.choice:hover .cp-account-icon, .choice:hover .icon {
  color: #ff9500;
  border-color: #ff9500;
}

.choice .cp-account-icon {
  font-size: 30px;
  line-height: 111px;
}

.cp-wizard-top {
  .horizontal {
    .steps-indicator {
      li:not(.current) {
        &:after {
          background-color: #d2d2d2 !important;
        }
      }
      li {
        &:before {
          height: 5px;
          border: 2px solid;
        }
      }
      li.current {
          &:after {
            color: white !important;
            background-color: #ff9e26 !important;
          }
      }
      li.default, li.current {
        &:before {
          border-color: #d2d2d2;
        }
      }
      li.done, li.editing {
        &:before {
          border-color: rgb(20, 144, 97);
          background-color: rgb(20, 144, 97) !important;
        }
        &:after {
          border: 2px solid rgb(20, 144, 97);
          background-color: rgb(20, 144, 97) !important;
          color: #fff !important;
        }
      }
    }
  }
}
