.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.cp-wizard-inner {
    float: none;
    margin: 0 auto;
}

.cp-panel-full {
    min-height: 500px;
    max-height: auto;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    .panel-heading {
        padding: 25px 15px;
    }
}